
html, body, p{ 
 margin:0; 
 padding:0; 
 text-align:center; 
 font-family:arial;
 background-color:#2C3C5E;
 border-radius: 10px; 
 
} 
a:visited
{ 
    color:blue;
background-color:blue;
}
 
#pagewidth{ 
 width:80%; 
 text-align:left; 
 margin:0 auto; 
} 
 
#header{
 position:relative; 
 height:70px; 
 background-color:#000000; 
 width:100%;
 display:block;
 overflow:auto;

} 
 
#maincol{
 background-color: #FFFFFF;  
 position: relative; 
 }
 
#footer{
 height:50px;
 clear:both;
 display:block;
    text-align: center;
} 
 
.clearfix:after {
 content: "."; 
 display: block; 
height: 0; 
 clear: both; 
 visibility: hidden;
 }
 
.clearfix{display: inline-block;}

/* Hides from IE-mac \*/
* html .clearfix{height: 1%;}
.clearfix{display: block;
    text-align: center;
}
/* End hide from IE-mac */  
